@import "tailwindcss";
 
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colours */
  --darkBlue: #145CA9;
  --babyBlue: #5FB4FF;
  --lightBlue: #EBF7FE;
  --grey-100: #D9D9D9;
  --grey-200: #CBC6C6;
}

/* Styles for the article scrollbar */
.article-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: var(--darkBlue) transparent;
}

.article-scrollbar::-webkit-scrollbar {
  width: 14px;
}

.article-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vh;
  margin-block: 60px; /* ↓↓ reduces total height of the scrollbar track */
}

.article-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--darkBlue);
  border-radius: 100vh;
  border: 2px solid transparent;
  background-clip: content-box;
  min-height: 40px; /* optional: ensures thumb is always a reasonable size */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colours */
  --color-darkBlue: var(--darkBlue);
  --color-babyBlue: var(--babyBlue);
  --color-lightBlue: var(--lightBlue);
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
